<div class="base-container">
  <div class="page-title">{{ title }}</div>
  
  <!-- content -->
  <app-section-container>
    <div class="title">1. ng cache</div>
    <div class="description-container">
      <div>
        Control the cache policy of the local environment. (v13 used ng config cli.cache)
      </div>
    </div>
    <div class="description-container">
      <pre>
        <code
          [highlight]="cacheInstruction"
          [languages]="['typescript']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>

    <div class="title">2. ng analytics</div>
    <div class="description-container">
      <div>
        Control whether sending the collected analytics data to Google Anagular team or not 
      </div>
    </div>
    <div class="description-container">
      <pre>
        <code
          [highlight]="analyticsInstruction"
          [languages]="['typescript']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>  
  </app-section-container>
  
</div>
