<div class="base-container">
  <div class="title">CLI Improvement</div>
  
  <!-- content -->
  <div [ngClass]="contentClassName" (click)="toggleContentOpen()">
    >
  </div>
  <div [ngClass]="contentSectionClassName">
    <div class="title">1. ng cache</div>
    <div class="description-container">
      <div>
        Control the cache policy of the local environment. (v13 used ng config cli.cache)
      </div>
    </div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(cacheInstruction)"></code>
      </pre>
    </div>

    <div class="title">2. ng analytics</div>
    <div class="description-container">
      <div>
        Control whether sending the collected analytics data to Google Anagular team or not 
      </div>
    </div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(analyticsInstruction)"></code>
      </pre>
    </div>  
  </div>
  
</div>
