<div class="base-container">
  <div class="title">OnPush Strategy enhancement</div>

  <!-- title -->
  <div [ngClass]="titleClassName" (click)="toggleTitleOpen()">
    >
  </div>
  <div [ngClass]="titleSectionClassName">
    <div class="title">Description</div>
    <div class="description-container">
      <div>
         The OnPush(CheckOnce) startegy only marks the component as dirty for the following conditions.
      </div>
      <ol>
        <li>The input should be immutable. 
          <div>-> For the reference type of the state like array or object, the reference of it should be changed (it means we have to make a copy of the object instead of mutating it directly)</div>
          <div>-> For the primitive type of the state, the value of it should be changed</div>
        </li>
        <li>Browser events of itself or it's child were triggered</li>
        <li>The observable subscribed by the async pipe received a new value</li>    
      </ol>
      <div>
        After Angular 14, the component will be marked as dirty when there is any changes of the [ngModel].
     </div>
    </div>

    <app-section-container>
      <div class="title">Issue</div>
      <div class="description-container">
        <a href="https://github.com/angular/angular/issues/10816">
          NgModel works incorrectly when using onPush ChangeDetection strategy #10816
        </a>
      </div>
    </app-section-container>
  </div>
  
  <!-- content -->
  <div [ngClass]="contentClassName" (click)="toggleContentOpen()">
    >
  </div>
  <div [ngClass]="contentSectionClassName">
    <div class="title">Simple scenario</div>
    <div class="content-container">
      <pre>
        <code [innerHTML]="escapeHtml(code)"></code>
      </pre>
    </div>
  </div>
  
  <!-- demo -->
  <div [ngClass]="demoClassName" (click)="toggleDemoOpen()">
    >
  </div>
  <div [ngClass]="demoSectionClassName">
    <div class="title">Demo</div>
    <div class="demo-container">
      <app-on-push-child [ngModel]="message"></app-on-push-child>
    </div>
  </div>
</div>
