<div class="title">Description</div>
<div class="description-container">
  <div>
     The following new Primitives are promoted to stable in Angular CDK 14.
  </div>
</div>

<div class="title">1. Menu</div>
<div class="content-container">
  <app-cdk-menu></app-cdk-menu>
</div>

<div class="description-container">
  The @angular/cdk/menu module provides directives to help create custom menu interactions based on the WAI ARIA specification.
</div>

<div class="demo-container">
  <img src="../../assets/image/cdk_aria.png" alt="">    
</div>

<div class="title">2. Dialog</div>
<div class="description-container">
  The Dialog service can be used to open unstyled modal dialogs and to build your own dialog services.
</div>
<div class="content-container">
  <button (click)="openDialog()">Open dialog</button>
</div>