<div class="title">Other features</div>
<div class="content-container">
  <ul>
    <li>Catch nullish coalescing on non-nullable values</li>
    <li>Bind to protected component members</li>
  </ul>
</div>

<div class="title">Reference</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://blog.angular.io/angular-v14-is-now-available-391a6db736af">
        Angular v14 is now available!
      </a>
    </li>
    <li>
      <a href="https://blog.ninja-squad.com/2021/11/03/angular-cli-13.0/">
        What's new in Angular CLI 13.0?
      </a>
    </li>
    <li>
      <a href="https://blog.kevinyang.net/2022/09/09/ng14-typed-form/">
        [Angular] Typed Form study notes
      </a>
    </li>
    <li>
      <a href="https://angular.io/guide/typed-forms">
        Typed Forms
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=L-odCf4MfJc">
        Typed Forms in Angular
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Gm_bD1abFXI">
        Build more accessible apps in Angular
      </a>
    </li>
    <li>
      <a href="https://v14.material.angular.io/cdk/dialog/examples">
        Angular Material Dialog
      </a>
    </li>
    <li>
      <a href="https://v14.material.angular.io/cdk/menu/overview">
        Angular Material Menu
      </a>
    </li>
  </ul>
</div>