<div class="title">Official document: Breaking changes</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://angular.io/guide/update-to-version-14">Update Angular to v14</a>
    </li>
  </ul>
</div>

<div class="title">Other features</div>
<div class="content-container">
  <ul>
    <li>Support TypeScript 4.7</li>
    <li>Catch the invalid “Banana in a box” error on your two-way data bindings</li>
    <li>Catch nullish coalescing on non-nullable values</li>
    <li>Bind to protected component members</li>
    <li>Optional injectors in Embedded Views</li>
  </ul>
</div>

<div class="title">Reference</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://blog.angular.io/angular-v14-is-now-available-391a6db736af">
        Angular v14 is now available!
      </a>
    </li>
    <li>
      <a href="https://blog.ninja-squad.com/2021/11/03/angular-cli-13.0/">
        What's new in Angular CLI 13.0?
      </a>
    </li>
    <li>
      <a href="https://blog.kevinyang.net/2022/09/09/ng14-typed-form/">
        [Angular] Typed Form study notes
      </a>
    </li>
    <li>
      <a href="https://angular.io/guide/typed-forms">
        Typed Forms
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=L-odCf4MfJc">
        Typed Forms in Angular
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=Gm_bD1abFXI">
        Build more accessible apps in Angular
      </a>
    </li>
    <li>
      <a href="https://v14.material.angular.io/cdk/dialog/examples">
        Angular Material Dialog
      </a>
    </li>
    <li>
      <a href="https://v14.material.angular.io/cdk/menu/overview">
        Angular Material Menu
      </a>
    </li>
    <li>
      <a href="https://zh.wikipedia.org/zh-tw/%E8%87%AA%E5%8B%95%E5%8C%96%E6%B8%AC%E8%A9%A6%E6%A1%86%E6%9E%B6">
        自動化測試框架
      </a>
    </li>
    <li>
      <a href="https://fullstackladder.dev/blog/2020/02/08/angular-material-component-harnesses/">
        [Angular Material 完全攻略] 使用 Component Harness 寫出健全的測試程式
      </a>
    </li>
    <li>
      <a href="https://material.angular.io/cdk/test-harnesses/overview">
        Component Harnesses
      </a>
    </li>
    <li>
      <a href="https://angular.io/cli/cache">
        ng cache
      </a>
    </li>
    <li>
      <a href="https://angular.io/cli/analytics">
        ng analytics
      </a>
    </li>
    <li>
      <a href="https://angular.io/guide/devtools">
        DevTools Overview
      </a>
    </li>
    <li>
      <a href="https://www.w3.org/WAI/ARIA/apg/#menu">
        ARIA Authoring Practices Guide (APG) Home
      </a>
    </li>
    <li>
      <a href="https://zhuanlan.zhihu.com/p/379164359">
        Esbuild 为什么那么快
      </a>
    </li>
    <li>
      <a href="https://angular.io/guide/esbuild">
        Getting started with the CLI's esbuild-based build system
      </a>
    </li>
  </ul>
</div>