<div class="base-container">
  <div class="page-title">{{ title }}</div>

  <!-- title -->
  <app-section-container>
    <div class="title">Description</div>
    <div class="description-container">
      <div>
        The streamline title has the following advantages.
      </div>
      <ol>
        <li>User friendly: The user can check the title when there is a bunch of tabs on the browser.</li>
      </ol>
    </div>
  </app-section-container>
  
  <!-- content -->
  <app-section-container>
    <div class="title">Simple scenario</div>
    <div class="content-container">
      <pre>
        <code
          [highlight]="instruction"
          [languages]="['typescript']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>

    <div class="title">Complex scenario</div>
    <div class="content-container">
      <pre>
        <code
          [highlight]="complexInstruction"
          [languages]="['typescript']"  
          [lineNumbers]="true"
        ></code>
      </pre>
    </div>
  </app-section-container>