<div class="title">Description</div>
<div class="description-container">
  <div>
    The streamline title has the following advantages.
  </div>
  <ol>
    <li>User friendly: The user can check the title when there is a bunch of tabs on the browser.</li>
  </ol>
</div>

<div class="title">Simple scenario</div>
<div class="content-container">
  <pre>
    <code [innerHTML]="escapeHtml(instruction)"></code>
  </pre>
</div>

<div class="title">Complex scenario</div>
<div class="content-container">
  <pre>
    <code [innerHTML]="escapeHtml(complexInstruction)"></code>
  </pre>
</div>