<div class="title">Description</div>
<div class="description-container">
  <div>
     In Angular CDK 14, it supports experimental esbuild-based build system for ng build.
     <a href="https://github.com/evanw/esbuild">esbuild</a>
      is a build tool with the following features.
  </div>
</div>

<div class="title">Demo - component built with Angular Material</div>
<div class="demo-container">
  <app-component-harness-button-area (actionSelected)="getAction($event)">
  </app-component-harness-button-area>
</div>