.form {
  display: inline-block;
  width: 30em;
  border: 1px solid #cecece;
  padding: 1em;
  label {
    display: inline-block;
    width: 30em;
  }
  input {
    display: inline-block;
    width: 100%;
    margin-bottom: .5em;
  }
  button {
    margin: 0 auto;
  }
}

.intro-container {
  width: 30em;
  font-size: 1.2em;
  margin: 0 auto 4em;
  font-style: normal;
  font-weight: 400;
}

.demo-container {
  width: 30em;
  margin: 0 auto;
}